<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/favicon.png" />
    <link rel="icon" type="image/png" href="{{STATIC_URL}}/favicon.png" />
    <title>BR1 ITALIA</title>
    <meta name="keywords" content="Discopatia,Protrusione discale,Ernia discale,Mal di schiena,Faccette articolari,Stenosi,Claudicatio,Stabilizzazione vertebrale,Made in Italy,Biomedicale,medicina,italia,salute,ortopedia,django,palazzolo,brescia,lombardia,milano,ospedali,dottori">
    <meta name="description" content="Nel 2011, valutando il mercato italiano della chirurgia vertebrale e quello che sarebbe stato il futuro, ci siamo resi conto di come i continui tagli alla spesa pubblica avrebbero imposto alle aziende del settore prezzi sempre più bassi per i dispositivi medici. Preoccupati che questo potesse incidere sulla qualità, lo sviluppo e la ricerca di nuovi prodotti, abbiamo valutato quali costi poter abbattere per adeguarci all’andamento del mercato senza incidere sugli standard qualitativi." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- LIGHTBOX -->
    <script src="{{STATIC_URL}}/lightbox/js/jquery-1.11.0.min.js"></script>
	<script src="{{STATIC_URL}}/lightbox/js/lightbox.min.js"></script>
	<link href="{{STATIC_URL}}/lightbox/css/lightbox.css" rel="stylesheet" />

		
	<!-- CSS Files -->
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

	<link rel="stylesheet" href="{{STATIC_URL}}/css/reset.css" />
	<link rel="stylesheet" href="{{STATIC_URL}}/css/animate.min.css" />
	<link rel="stylesheet" href="{{STATIC_URL}}/css/bootstrap.css" />
	<link rel="stylesheet" href="{{STATIC_URL}}/css/style.css" />
	<link rel="stylesheet" href="{{STATIC_URL}}/css/flexslider.css" />
	<link rel="stylesheet" href="{{STATIC_URL}}/css/font-awesome.css" />
	<link rel="stylesheet" href="{{STATIC_URL}}/css/owl.carousel.css" />
	<link rel="stylesheet" href="{{STATIC_URL}}/css/settings.css" />
	<link rel="stylesheet" href="{{STATIC_URL}}/css/prettyPhoto.css" />
	<link rel="stylesheet" href="{{STATIC_URL}}/css/responsive.css" />
	<link rel="stylesheet" href="{{STATIC_URL}}/css/player/YTPlayer.css" />
	<link rel="stylesheet" href="{{STATIC_URL}}/stile.css" />
	
	<!-- End CSS Files -->
 
</head>

<body data-spy="scroll" data-target=".nav-menu" data-offset="50">

<!-- MENU -->
	{% include 'componenti/menu.html' %} 
	

<!-- SLIDER -->
	{% include 'componenti/slider.html' %} 


{% block content %}


{% endblock %}


<!-- FOOTER -->
	{% include 'componenti/footer.html' %} 




	

<!-- Back To Top Button -->
	<section id="back-top">
		<a href="#home" class="scroll"></a>
	</section>
	<!-- End Back To Top Button -->
	
	<!-- JS Files -->
	
	<script type="text/javascript" src="{{STATIC_URL}}/js/bootstrap.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}/js/jquery.appear.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}/js/waypoints.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}/js/jquery.prettyPhoto.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}/js/modernizr-latest.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}/js/SmoothScroll.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}/js/jquery.parallax-1.1.3.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}/js/jquery.superslides.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}/js/jquery.flexslider.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}/js/jquery.sticky.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}/js/owl.carousel.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}/js/jquery.isotope.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}/js/rev-slider/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}/js/rev-slider/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}/js/jquery.mb.YTPlayer.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}/js/jquery.fitvids.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}/js/plugins.js"></script>

	 <!-- End JS Files -->

<script>

  </script>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56884159-1', 'auto');
  ga('send', 'pageview');

</script>

</body>

</html>					
