{% extends 'base.html' %}

{% block content %}
<!-- CERCHI -->
	{% include 'componenti/cerchi.html' %} 

<!-- chi siamo -->
	{% include 'componenti/chisiamo.html' %} 

<!-- mission -->
	{% include 'componenti/mission.html' %} 

<!-- skills -->
	{% include 'componenti/skills.html' %}



<!-- Medicale -->
	{% include 'componenti/medicale2.html' %} 

<!-- italiana -->
	{% include 'componenti/italiana.html' %}

<!-- VIDEO -->
	{% include 'componenti/video.html' %}

<!-- LAVORA CON NOI -->
	{% include 'componenti/lavora.html' %}

<!-- SUBSCRIBE -->
	{% include 'componenti/subscribe.html' %}

<!-- CONTACT -->
	{% include 'componenti/contact.html' %}






{% endblock %}