<!-- About Section -->
	<section id="about" class="contain ">
		
		<div class="about inner">
				
				<!-- First Content -->
				<div class="about-content">
				
					<div class="icon top iconcol">
						<i class="fa fa-check checkcolgreen"></i>
					</div>
					
					<div class="content-header text">Verde</div>
					<div class="content-desc text">Dichiarazione BR1 Nichel Free</div>
					
					<div class="icon bottom">
						<a href="{{STATIC_URL}}/BR1NICHELFREE.pdf" target="blank">
							<i class="fa fa-plus "></i>
						</a>
					</div>
					
				</div>
				
				<!-- Second Content -->
				<div class="about-content">
				
					<div class="icon top" style="background-color: #e5e5e4">
						<i class="fa fa-check checkcolbianco"></i>
					</div>
					
					<div class="content-header text">Bianco</div>
					<div class="content-desc text">Visualizza Scheda Tecnica</div>
					
					<div class="icon bottom">
						<a href="{{STATIC_URL}}/schedatecnica.pdf" target="blank">
							<i class="fa fa-plus "></i>
						</a>
					</div>
					
				</div>
				
				<!-- Third Content -->
				
				
				<!-- First Content -->
				<div class="about-content">
				
					<div class="icon top">
						<i class="fa fa-check checkcolred"></i>
					</div>
					
					<div class="content-header text">Rosso</div>
					<div class="content-desc text">Visualizza la Brochure</div>
					
					<div class="icon bottom">
					<a href="{{STATIC_URL}}/brochure1.pdf" target="blank">
						<i class="fa fa-plus"></i>
					</a>
					</div>
					
				</div>
				
				<div class="clear"></div>
				
		</div><!-- End Inner div -->
		
	</section><!-- End About Section -->