<!-- Features Section -->
	<section id="features" class="contain ">
		
		<!-- Features Top Icon -->
		<div class="contain-logo">
			<i class="fa fa-check-circle-o "></i>
		</div>
		
		<div class="inner">

			<!-- Header -->
			<div class="header">
				PROGETTO BR1 ITALIA
			</div>
			
			<!-- Second Header -->
			<div class="page-desc">
				Nel 2011 abbiamo voluto valutare quale sarebbe stato il futuro della stabilizzazione vertebrale nel mercato italiano, tra le varie considerazioni il fattore che ci ha preoccupato maggiormente è stato il dilagare di materiali provenienti dal Sud Est Asiatico e la conseguente possibilità che i prezzi potessero precipitare con notevole calo della qualità.<br>
Abbiamo quindi pensato che se avessimo potuto produrre in Italia, con standard qualitativi e con prezzi di produzione impostati sul rapporto quantità/qualità avremmo potuto essere competitivi e, valorizzando l’italianità del prodotto, porci in posizione privilegiata rispetto alla concorrenza.<br>
Credendo che unire le due filosofie potesse essere un’ulteriore punto di forza del “Progetto BR1”, abbiamo chiesto a un ortopedico ed a un neurochirurgo di collaborare per creare uno “STRUMENTARIO e il MATERIALE IMPIANTABILE” che potesse soddisfare entrambe le esigenze chirurgiche e che rendesse lo strumentario pratico ed essenziale nei componenti.<br><br>
Nasce così la collaborazione tra commerciale,  produttore, utilizzatore, un filo diretto che ci ha consentito di creare uno strumentario adattabile alle esigente dei singoli operatori, rispondente alle normative Europee sul peso degli strumentari chirurgici e sulla sterilità e rintracciabilità dei prodotti impiantati.
Il rapporto diretto con la produzione ci consente di accogliere le richieste dei chirurghi per apporre quelle modifiche che potranno personalizzare lo strumentario rendendolo ancora più performante.<br>
I fatti ci stanno dando ragione, l’italianità di BR1 è accolta con notevole interesse, il materiale impiantabile in confezione sterile con etichette per la rintracciabilità dei lotti è accolta favorevolmente anche dal personale di sala, per la praticità nello scarico degli impianti dotati di etichette con codici a barre.<br><br>
<b>Lo strumentario BR1</b> è composto da solo tre cassette che in totale pesano kg. 12,50.<br> 
<b>Il materiale impiantabile</b> è confezionato in doppia busta:<br>
-  2 viti di eguale misura e 2 dadi,<br>
-  le barre sono anch’esse confezionate in doppia busta,<br>
-  abbiamo  creato una  confezione  di  2  dadi  di   scorta/emergenza  
   anch’essi in doppia busta.<b><br>
<br>
			</div>
			
			
			<div class="clear"></div>
		</div><!-- End Inner div -->
		
	</section><!-- End Features Section -->