<!-- Features Section -->
	<section id="features" class="contain ">
		
		<!-- Features Top Icon -->
		<div class="contain-logo">
			<i class="fa fa-check-circle-o "></i>
		</div>
		
		<div class="inner">

			<!-- Header -->
			<div class="header">
				PROGETTO BR1 ITALIA
			</div>
			
			<!-- Second Header -->
			<div class="page-desc">
				Nel 2011, valutando il mercato italiano della chirurgia vertebrale e quello che sarebbe stato il futuro, ci siamo resi conto di come i continui tagli alla spesa pubblica avrebbero imposto alle aziende del settore prezzi sempre più bassi per i dispositivi medici.<br>Preoccupati che questo potesse incidere sulla qualità, lo sviluppo e la ricerca di nuovi prodotti, abbiamo valutato quali costi poter abbattere per adeguarci all’andamento del mercato senza incidere sugli standard qualitativi.
				<br>
				<br>L’ idea del prodotto italiano è stata la nostra soluzione. 
				In partnership con un’azienda italiana che da anni produce presidi medico chirurgici, abbiamo impostato i costi di produzione sul rapporto qualità/quantità, con il risultato di poter garantire prezzi competitivi e mantenere proprietà elevate.
				<br>Credendo che unire due filosofie sarebbe stato un ulteriore punto di forza del “Progetto BR1”, abbiamo chiesto ad un ortopedico e ad un neurochirurgo di collaborare per creare uno strumentario, pratico ed essenziale nei componenti, e materiale impiantabile che soddisfacesse le esigenze chirurgiche di entrambi.
				<br>
				<br>Nasce così la collaborazione tra produzione, distribuzione, utilizzatore un filo diretto che ci ha consentito di creare un prodotto adattabile alle esigente dei singoli operatori, rispondente alle normative Europee con particolare attenzione  al  peso degli strumentari chirurgici e alla sterilità/ rintracciabilità dei prodotti impiantabili. 
				Il rapporto diretto con la produzione ci consente di accogliere le richieste dei singoli chirurghi e di personalizzare lo strumentario, rendendolo ancora più performante.
				<br>
				<br>I fatti ci stanno dando ragione, l’italianità di BR1 suscita un notevole interesse, il materiale impiantabile in confezione sterile e con etichette per la rintracciabilità dei lotti è accolta favorevolmente anche dal personale di sala operatoria per la praticità nello scarico degli impianti dotati di etichette adesive con codici a barre.
				<br>Il Sistema di Stabilizzazione BR1 è l’inizio di una collaborazione totalmente Made in Italy al fianco del Chirurgo Vertebrale.<br><br><br>
			</div>
			
			
			<div class="clear"></div>
		</div><!-- End Inner div -->
		
	</section><!-- End Features Section -->