	<!-- Footer Section -->
	<section id="footer">

		<div class="inner footer">

			<!-- Phone -->
			<div class="col-xs-4 animated footer-box" data-animation="flipInY" data-animation-delay="0">
				<a class="footer-links">
					<i class="fa fa-mobile"></i>
				</a>

				<p class="footer-text">
					<span>Tel</span>:<span>+39.030.7402083</span>
					<span>Cell</span>:<span>+39.348.2655382</span>
				</p>
			</div>

			<!-- Socials and Mail -->
			<div class="col-xs-4 animated footer-box" data-animation="flipInY" data-animation-delay="0">

				<!-- Social 1 -->
				<a class="footer-links">
					<i class="fa fa-facebook"></i>
				</a>

				<!-- Social 2 -->
				<a class="footer-links">
					<i class="fa fa-twitter"></i>
				</a>

				<!-- Social 3 -->
				<a class="footer-links">
					<i class="fa fa-google-plus"></i>
				</a>

				<!-- Social 4 -->
				<a class="footer-links">
					<i class="fa fa-pinterest"></i>
				</a>

				<!-- Mail -->
				<p class="footer-text">
					<span>Mail</span>:<span><a href="mailto:commerciale@br1italia.it">commerciale@br1italia.it</a></span>
				</p>

				<!-- Copyright -->
				<p class="footer-text copyright">
					©2016 br1italia all rights reserved.
					<br>
					<br>
					designed by <a href="http://www.graficapassword.it" target="_Blank">grafica<b>PASSWORD.it</b></a>
				</p>
			</div>

			<!-- Adress -->
			<div class="col-xs-4 animated footer-box" data-animation="flipInY" data-animation-delay="0">

				<!-- Icon -->
				<a class="footer-links">
					<i class="fa fa-map-marker"></i>
				</a>

				<p class="footer-text">
					Via Carvasaglio, 19 - 25036 PALAZZOLO SULL'OGLIO (BS)
					<br>P.Iva: 03461730982
				</p>
			</div>

			<div class="clear"></div>
		</div> <!-- End Footer inner -->

	</section><!-- End Footer Section -->
