	<!-- Footer Section -->
	<section id="footer">
	
		<div class="inner footer">
		
			<!-- Phone -->
			<div class="col-xs-4 animated footer-box" data-animation="flipInY" data-animation-delay="0">
				<a class="footer-links">
					<i class="fa fa-mobile"></i>
				</a>
				
				<p class="footer-text">
					<span>Phone</span>:<span>(123) 456-7890</span>
				</p>
			</div>
			
			<!-- Socials and Mail -->
			<div class="col-xs-4 animated footer-box" data-animation="flipInY" data-animation-delay="0">
				
				<!-- Social 1 -->
				<a class="footer-links">
					<i class="fa fa-facebook"></i>
				</a>
				
				<!-- Social 2 -->
				<a class="footer-links">
					<i class="fa fa-twitter"></i>
				</a>
				
				<!-- Social 3 -->
				<a class="footer-links">
					<i class="fa fa-google-plus"></i>
				</a>
				
				<!-- Social 4 -->
				<a class="footer-links">
					<i class="fa fa-pinterest"></i>
				</a>
				
				<!-- Mail -->
				<p class="footer-text">
					<span>Mail</span>:<span><a href="mailto:support@goldeyestheme.com">support@goldeyestheme.com</a></span>
				</p>
				
				<!-- Copyright -->
				<p class="footer-text copyright">
					©2014 wisten. all rights reserved.
				</p>
			</div>
			
			<!-- Adress -->
			<div class="col-xs-4 animated footer-box" data-animation="flipInY" data-animation-delay="0">
			
				<!-- Icon -->
				<a class="footer-links">
					<i class="fa fa-map-marker"></i>
				</a>
				
				<p class="footer-text">
					1234 Street Name, City Name
				</p>
			</div>
			
			<div class="clear"></div>
		</div> <!-- End Footer inner -->
		
	</section><!-- End Footer Section -->