<!-- Features Section -->
	<section id="lavora" class="contain ">
		
		<!-- Features Top Icon -->
		<div class="contain-logo">
			<i class="fa fa-check-circle-o "></i>
		</div>
		
		<div class="inner">

			<!-- Header -->
			<div class="header">
				LAVORA CON NOI
			</div>
			
			<!-- Second Header -->
			<div class="page-desc2">
				<div class="col-md-3">
					<!-- <img src="{{STATIC_URL}}/img/logo.png" class="img-responsive"> -->
				</div>
				<div class="col-md-9">
				<b></b>
				</div>
				<div class="col-md-12">
					
					<form action="/contact/" method="post">{% csrf_token %}
<div class="form-group col-sm-6">
    <label for="exampleInputEmail1" class="texttext" >Nome:</label>
    <input name="nome" type="text" class="form-control livello" id="exampleInputEmail1" placeholder="">
  </div>

  <div class="form-group col-sm-6">
    <label for="exampleInputEmail1" class="texttext">Cognome:</label>
    <input name="cognome" type="text" class="form-control livello" id="exampleInputEmail1" placeholder="">
  </div>

  <div class="form-group col-sm-6">
    <label for="exampleInputEmail1" class="texttext">Telefono:</label>
    <input name="telefono" type="text" class="form-control livello" id="exampleInputEmail1" placeholder="">
  </div>

  <div class="form-group col-sm-6" class="texttext">
    <label for="exampleInputEmail1" class="texttext">Fax:</label>
    <input name="fax" type="text" class="form-control livello" id="" placeholder="">
  </div>

  <div class="form-group col-sm-6">
    <label for="exampleInputEmail1" class="texttext">Email:</label>
    <input name="email" type="text" class="form-control livello" id="" placeholder="">
  </div>

  
  <div class="form-group col-sm-6">
    <label for="exampleInputEmail1" class="texttext">Città:</label>
    <input name="citta" type="text" class="form-control livello" id="" placeholder="">
  </div>

  <div class="form-group col-sm-12">
    <label for="exampleInputEmail1" class="texttext">Indirizzo:</label>
    <input name="indirizzo" type="text" class="form-control livello" id="" placeholder="">
  </div>



  <div class="form-group col-sm-12">
    <label class="formcontrolcontatti texttext" for="">Messaggio:</label>
    <textarea name="messaggio" class="form-control formcontrolcontatti" rows="11"></textarea>
  </div>

  

  <button type="submit" class="btn btn-default" style="margin-left: 20px;">INVIA</button>
</form>

				</div>
			</div>			
			
			<div class="clear"></div>
		</div><!-- End Inner div -->
		
	</section><!-- End Mission Section -->