<!-- History Section -->
	<section id="history" class="contain parallax1 ">
		
			<div class="inner">
			
				<!-- History Top Icon -->
				<div class="contain-logo br">
					<i class="fa fa-clock-o "></i>
				</div>
			
				<!-- Header -->
				<div class="header white">
					TEMATICA MEDICALE
				</div>
				
				<!-- Second Header -->
				<!--<div class="page-desc white">
					Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
				</div> -->
			
					<ul class="timeline list-unstyled">
						
						<!-- History Year -->
						<li class="year"></li>
						
						<li class="note animated" data-animation="fadeInRight" data-animation-delay="50">
							<h4>
								LA DISCOPATIA
							</h4>
							<p>La discopatia degenerativa è una patologia della colonna vertebrale caratterizzata da un indebolimento del disco intervertebrale che subisce fenomeni di disidratazione delle sue componenti, diminuzione della sua resistenza alle sollecitazioni funzionali e, negli stadi più avanzati, ad un assottigliamento con riduzione dello spazio tra una vertebra e l’altra. Quest’ultimo fatto comporta come conseguenza l’instaurarsi di un restringimento dei forami attraverso i quali le radici nervose fuoriescono dal canale vertebrale ed il verificarsi di instabilità.
							<br>La discopatia degenerativa è una patologia frequente anche in soggetti in giovane età e costituisce una delle principali cause di mal di schiena nella popolazione adulta. Quando si verificano compressioni di radici nervose al dolore lombare si aggiunge la sciatalgia.
							<br>Quando il dolore diviene eccessivo, si manifesta dopo sollecitazioni funzionali lievi e non risponde alle cure mediche e fisioterapiche, può essere presa in considerazione una soluzione di tipo chirurgico.</p>
							
							<span class="arrow fa fa-play"></span>
							
						</li>
						
						<li class="note animated" data-animation="fadeInLeft" data-animation-delay="50">
							<h4>
								LA PROTRUSIONE DISCALE
							</h4>
							<p class="desc">
							La Protrusione Discale è una degenerazione del Disco intervertebrale, che ha perduto la sua consistenza e la sua capacità di “ammortizzare” i carichi delle vertebre. 
							<br>Quando il disco intervertebrale comincia a deformarsi deborda oltre il margine dei corpi vertebrali ed invade spazi ove sono posizionati il Midollo spinale e le Radici nervose, causando dolori locali ed irradiati agli arti. 
							<br>Una protrusione discale importante può essere definita come il primo passo verso l' ernia del disco.
							</p>
							
							<span class="arrow fa fa-play"></span>
							
						</li>
						
						<li class="note animated" data-animation="fadeInRight" data-animation-delay="100">
							<h4>
								ERNIA DISCALE
							</h4>
							<p class="desc">
								Si tratta di una degenerazione più importante rispetto alla protrusione (vedere) , caratterizzata da fuoriuscita di parte del materiale discale che potrebbe posizionarsi nel Canale vertebrale o in prossimità delle radici nervose, causando lombalgia e/ sciatalgia spesso invalidanti.
							</p>
					
							
							<span class="arrow fa fa-play"></span>
							
						</li>
						
						<li class="note animated" data-animation="fadeInLeft" data-animation-delay="100">
							<h4>
								SINDROME DELLE FACCETTE ARTICOLARI POSTERIORI
							</h4>
							<p class="desc">
								Degenerazione su base artrosica delle articolazioni che sono situate nella parte posteriore fra vertebre contigue.
								<br>E' un processo infiammatorio causato da sovraccarico ripeuto nel contesto di una discopatia (vedere) o una instabilità locale. Col tempo si produce una deformazione delle articolazioni con conseguente restringimento del canale vertebrale.
								<br>E' una delle cause più frequenti di lombalgia.
							</p>

							
							<span class="arrow fa fa-play"></span>
							
						</li>


						<li class="note animated" data-animation="fadeInRight" data-animation-delay="100">
							<h4>
								STENOSI FORAMINALE E CANALARE
							</h4>
							<p class="desc">
								Il termine Stenosi indica un restringimento. Questo può verificarsi per processi di tipo prevalentemente degenerativo con maggior frequenza al tratto cervicale e lombare . E' tipico dell'età avanzata.
								<br>E' per lo più associato a processi artrosici e degenerativi (discopatie, protrusioni) e si manifesta con una riduzione importante dello spazio a disposizione delle radici nervose o del midollo spinale nel contesto del canale midollare stesso. Provoca generalmente dolore locale ed irradiato agli arti potendo determinare veri deficit neurologici di tipo sensitivo (formicolii) o motori (braccia o gambe pesanti).
							</p>
					
							
							<span class="arrow fa fa-play"></span>
							
						</li>

						<li class="note animated" data-animation="fadeInLeft" data-animation-delay="100">
							<h4>
								CLAUDICATIO NEUROGENA
							</h4>
							<p class="desc">
								E' un vero e proprio quadro clinico particolare, dipendente dalla stenosi canalare (vedere) e caratterizzato da incapacità del paziente di percorrere lunghi tratti a piede per comparsa di dolore e sensazione di gambe pesanti e diminuzione della forza. Generalmente, dopo una breve pausa di riposo (seduto x 5 minuti) il paziente ritrova le forze per riprendere il cammino.
							</p>

							
							<span class="arrow fa fa-play"></span>
							
						</li>


						<li class="note animated" data-animation="fadeInRight" data-animation-delay="100">
							<h4>
								SPONDILOLISTESI
							</h4>
							<p class="desc">
								Patologia caratterizzata da uno scivolamento di una vertebra sull' altra con conseguente perdita dei normali rapporti tra le strutture. Prevalente al tratto distale del rachide lombare, è nella maggior parte dei casi dipendente da un difetto nello sviluppo della vertebra interessata che non completa il ciclo di fusione tra la parte anteriore e posteriore della vertebra stessa. Raramente si osserva l' origine post traumatica oppure quella post chirurgica come esito di un indebolimento delle struttura articolari della vertebra.
							</p>
					
							
							<span class="arrow fa fa-play"></span>
							
						</li>
						
						
						
						<!-- Start icon -->
						<li class="start fa fa-bookmark"></li>
						
						<li class="clear"></li>
						
					</ul><!-- End Timeline ul -->
					
			</div><!-- End inner div -->
			
	</section><!-- End History Section -->
	