

<!-- Home Section -->
	<section id="home" class="">
	
	
		<section id="pagetop" class="contain">
		
			<div class="inner pagetop">
			
				<div class="col-xs-6 left">
					
				</div>
				
				<div class="col-xs-6 right">
					
					<a href="mailto:commerciale@br1italia.it">
						<i class="fa fa-envelope" style="margin-right:30px;"></i>
					</a>
					<!--
					<a href="#">
						<i class="fa fa-twitter"></i>
					</a>
					<a href="#">
						<i class="fa fa-vimeo-square"></i>
					</a>
					<a href="#">
						<i class="fa fa-rss"></i>
					</a>
					<a href="#">
						<i class="fa fa-instagram"></i>
					</a> -->
					
				</div>
				
				
				<div class="clear"></div>
			</div>
		
		</section>
		
		
	<!-- Navigation Section -->
	<section id="navigation" class="shadow2" style="padding-bottom:0px;">
	
		<div class="inner navigation">
			
			<!-- Logo Img -->
			
			<div class="logo">
				<a class="scroll" href="#home"><img class="logpng" src="{{STATIC_URL}}/img/logo2.png" alt="Logo"/></a>
			</div>

			
			<!-- Nav Menu -->
			<div class="nav-menu">
				
				<ul class="nav main-nav">
				
					<li class="active"><a class="scroll" href="#home">home</a></li>
					<li><a class="scroll" href="#features">br1</a></li>
					<li><a class="scroll" href="#mission">mission</a></li>
					<li><a class="scroll" href="#skills">prodotti</a></li>
					<li><a class="scroll" href="#history">tematica medicale</a></li>
					<li><a class="scroll" href="#italiana">scelta italiana</a></li>
					<li><a class="scroll" href="#contact">contatti</a></li>
					<li><a class="scroll" href="#lavora">lavora con noi</a></li>
					<li><a class="scroll" href="#">consulenza medica</a></li>
				
				</ul>
				
			</div>
			
			
				<!-- Dropdown Menu For Mobile Devices-->
				<div class="dropdown mobile-drop">
				  <a data-toggle="dropdown" class="mobile-menu" href="#"><i class="fa fa-bars fa-2x" style="padding-right:30px;"></i></a>
				  <ul class="nav dropdown-menu fullwidth" role="menu" >
					<li><a class="scroll" href="#features">br1</a></li>
					<li><a class="scroll" href="#mission">mission</a></li>
					<li><a class="scroll" href="#skills">prodotti</a></li>
					<li><a class="scroll" href="#history">tematica medicale</a></li>
					<li><a class="scroll" href="#italiana">scelta italiana</a></li>
					<li><a class="scroll" href="#contact">contatti</a></li>
					<li><a class="scroll" href="#lavora">lavora con noi</a></li>
					<li><a class="scroll" href="#">consulenza medica</a></li>
				  </ul>
				</div>
		
		
		
		</div>
	

	<div class="col-xs-12" style="background-color: red; height:5px;"></div>
	<div class="col-xs-12" style="background-color: white; height:5px;"></div>
	<div class="col-xs-12" style="background-color: green; height:5px;"></div>

	<div class="clear"></div>
	</section>
	<!-- End Navigation Section -->

</section>
