
	
	
	<section id="portfolio" class="contain ">
		
			<div class="inner">
			
				<!-- Portfolio Top Icon -->
				<div class="contain-logo br">
					<i class="fa fa-desktop "></i>
				</div>
			
				<!-- Header -->
				<div class="header">
					our awesome works
				</div>
				
				<!-- Second Header -->
				<div class="page-desc">
					Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
				</div>
				
				<div class="works">
				
					<div id="options" class="filter-menu inline">
						<ul id="filters" class="filters option-set" data-option-key="filter">
							<li><a href="#filter" data-option-value="*" class="selected">show all</a></li>
							<li><a href="#filter" data-option-value=".design">design</a></li>
							<li><a href="#filter" data-option-value=".photography">photography</a></li>
							<li><a href="#filter" data-option-value=".branding">branding</a></li>
							<li><a href="#filter" data-option-value=".web">web</a></li>
						</ul>
					</div>
					
					<div class="items ">
					
						<div class="work col-xs-4 web photography">
							<div class="work-inner">
								<div class="work-img">
									<img src="images/works/1.jpg" alt=""/>
									<div class="mask">
										<a class="button zoom" href="http://vimeo.com/55945051" data-rel="prettyPhoto[gallery]"><i class="fa fa-search"></i></a>
										<a class="button detail"><i class="fa fa-film"></i></a>
									</div>
								</div>
								<div class="work-desc">
									<h4>work image</h4>
									<p>Contrary to popular belief, Lorem Ipsum</p>
								</div>
							</div>
						</div>
						
						<div class="work col-xs-4 photography design ">
							<div class="work-inner">
								<div class="work-img">
									<img src="images/works/2.jpg" alt=""/>
									<div class="mask">
										<a class="button zoom" href="images/works/b2.jpg"  data-rel="prettyPhoto[gallery]"><i class="fa fa-search"></i></a>
										<a class="button detail"><i class="fa fa-picture-o"></i></a>
									</div>
								</div>
								<div class="work-desc">
									<h4>work image</h4>
									<p>Contrary to popular belief, Lorem Ipsum</p>
								</div>
							</div>
						</div>
						
						<div class="work col-xs-4 web photography design ">
							<div class="work-inner">
								<div class="work-img">
									<img src="images/works/3.jpg" alt=""/>
									<div class="mask">
										<a class="button zoom" href="images/works/b3.jpg" data-rel="prettyPhoto[gallery]"><i class="fa fa-search"></i></a>
										<a class="button detail"><i class="fa fa-picture-o"></i></a>
									</div>
								</div>
								<div class="work-desc">
									<h4>work image</h4>
									<p>Contrary to popular belief, Lorem Ipsum</p>
								</div>
							</div>
						</div>
						
						<div class="work col-xs-4 design web ">
							<div class="work-inner">
								<div class="work-img">
									<img src="images/works/4.jpg" alt=""/>
									<div class="mask">
										<a class="button zoom" href="http://vimeo.com/55945051" data-rel="prettyPhoto[gallery]"><i class="fa fa-search"></i></a>
										<a class="button detail"><i class="fa fa-film"></i></a>
									</div>
								</div>
								<div class="work-desc">
									<h4>work image</h4>
									<p>Contrary to popular belief, Lorem Ipsum</p>
								</div>
							</div>
						</div>
						
						<div class="work col-xs-4 design photography ">
							<div class="work-inner">
								<div class="work-img">
									<img src="images/works/5.jpg" alt=""/>
									<div class="mask">
										<a class="button zoom" href="images/works/b5.jpg" data-rel="prettyPhoto[gallery]"><i class="fa fa-search"></i></a>
										<a class="button detail"><i class="fa fa-picture-o"></i></a>
									</div>
								</div>
								<div class="work-desc">
									<h4>work image</h4>
									<p>Contrary to popular belief, Lorem Ipsum</p>
								</div>
							</div>
						</div>
						
						<div class="work col-xs-4 web branding ">
							<div class="work-inner">
								<div class="work-img">
									<img src="images/works/6.jpg" alt=""/>
									<div class="mask">
										<a class="button zoom" href="images/works/b6.jpg" data-rel="prettyPhoto[gallery]"><i class="fa fa-search"></i></a>
										<a class="button detail"><i class="fa fa-picture-o"></i></a>
									</div>
								</div>
								<div class="work-desc">
									<h4>work image</h4>
									<p>Contrary to popular belief, Lorem Ipsum</p>
								</div>
							</div>
						</div>

						<div class="clear"></div>
					
					</div>
				
				</div>
				
			</div>	
	
	</section>
	