	
	<section id="prices" class="contain ">
		
			<div class="inner prices">
			
				<!-- History Top Icon -->
				<div class="contain-logo br">
					<i class="fa fa-table "></i>
				</div>
			
				<!-- Header -->
				<div class="header ">
					price packages
				</div>
				
				<!-- Second Header -->
				<div class="page-desc ">
					Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
				</div>
				
				<div class="packages">
					<!-- First Package -->
					<div class="package first animated" data-animation="flipInY" data-animation-delay="100">
						<!-- Package Header -->
						<h1>Starter</h1>
						<!-- Package Price -->
						<div class="circle">
							<h2>$19 <span>.00</span></h2>
							<p>per month</p>
						</div>
						<!-- Package Properties -->
						<ol>
							<li>Premium Profile Listing</li>
							<li><span>Unlimited </span>File Access</li>
							<li><span>Free </span>Appointments</li>
							<li><span>5 Bonus </span>Points every month</li>
							<li><span>2 months</span> support</li>
							<li><span>2</span> subdomains</li>
						</ol>
						<!-- Package Button -->
						<a class="p-btn">Buy Now</a>
					</div>
					
					<!-- Second Package -->
					<div class="package animated" data-animation="flipInY" data-animation-delay="300">
						<!-- Package Header -->
						<h1>Standart</h1>
						<!-- Package Price -->
						<div class="circle">
							<h2>$39 <span>.00</span></h2>
							<p>per month</p>
						</div>
						<!-- Package Properties -->
						<ol>
							<li>Premium Profile Listing</li>
							<li><span>Unlimited </span>File Access</li>
							<li><span>Free </span>Appointments</li>
							<li><span>5 Bonus </span>Points every month</li>
							<li><span>2 months</span> support</li>
							<li><span>2</span> subdomains</li>
						</ol>
						<!-- Package Button -->
						<a class="p-btn">Buy Now</a>
					</div>
					
					<!-- Third Package -->
					<div class="package active animated" data-animation="flipInY" data-animation-delay="500">
						<!-- Package Header -->
						<h1>Professional</h1>
						<!-- Package Price -->
						<div class="circle">
							<h2>$59 <span>.00</span></h2>
							<p>per month</p>
						</div>
						<!-- Package Properties -->
						<ol>
							<li>Premium Profile Listing</li>
							<li><span>Unlimited </span>File Access</li>
							<li><span>Free </span>Appointments</li>
							<li><span>5 Bonus </span>Points every month</li>
							<li><span>2 months</span> support</li>
							<li><span>2</span> subdomains</li>
						</ol>
						<!-- Package Button -->
						<a class="p-btn">Buy Now</a>
					</div>
					
					<!-- Fourth Package -->
					<div class="package last animated" data-animation="flipInY" data-animation-delay="700">
						<!-- Package Header -->
						<h1>Platinum</h1>
						<!-- Package Price -->
						<div class="circle">
							<h2>$79 <span>.00</span></h2>
							<p>per month</p>
						</div>
						<!-- Package Properties -->
						<ol>
							<li>Premium Profile Listing</li>
							<li><span>Unlimited </span>File Access</li>
							<li><span>Free </span>Appointments</li>
							<li><span>5 Bonus </span>Points every month</li>
							<li><span>2 months</span> support</li>
							<li><span>2</span> subdomains</li>
						</ol>
						<!-- Package Button -->
						<a class="p-btn">Buy Now</a>
					</div>
					
					<div class="clear"></div>
				</div><!-- End Packages -->
			</div><!-- End inner div -->
	</section><!-- End Prices Section -->