<section id="services" class="contain ">
		<div class="services bg parallax2">
			<div class="inner services">
			
				<!-- why-wisten Top Icon -->
				<div class="contain-logo br">
					<i class="fa fa-cogs "></i>
				</div>
			
				<!-- Header -->
				<div class="header">
					Our Services
				</div>
				
				<!-- Second Header -->
				<div class="page-desc">
					Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
				</div>
				
				<ul class="service-contents slide-boxes">
					
					<li class="service box animated" data-animation="flipInY" data-animation-delay="0">
						<a href="" class="service-logo">
							<i class="fa fa-camera"></i>
						</a>
						<h3>Design</h3>
						<p>Contrary to popular belief, not simply random text. It has roots in a of Latin from 45 BC, 2000 years old.</p>
					</li>
					<li class="service box animated" data-animation="flipInY" data-animation-delay="200">
						<a href="" class="service-logo">
							<i class="fa fa-desktop"></i>
						</a>
						<h3>Photography</h3>
						<p>Contrary to popular belief, not simply random text. It has roots in a of Latin from 45 BC, 2000 years old.</p>
					</li>
					<li class="service box animated" data-animation="flipInY" data-animation-delay="400">
						<a href="" class="service-logo">
							<i class="fa fa-coffee"></i>
						</a>
						<h3>HTML</h3>
						<p>Contrary to popular belief, not simply random text. It has roots in a of Latin from 45 BC, 2000 years old.</p>
					</li>
					<li class="service box animated" data-animation="flipInY" data-animation-delay="600">
						<a href="" class="service-logo">
							<i class="fa fa-globe"></i>
						</a>
						<h3>Wordpress</h3>
						<p>Contrary to popular belief, not simply random text. It has roots in a of Latin from 45 BC, 2000 years old.</p>
					</li>
					<li class="service box animated" data-animation="flipInY" data-animation-delay="800">
						<a href="" class="service-logo">
							<i class="fa fa-gear"></i>
						</a>
						<h3>Social</h3>
						<p>Contrary to popular belief, not simply random text. It has roots in a of Latin from 45 BC, 2000 years old.</p>
					</li>
					<li class="service box animated" data-animation="flipInY" data-animation-delay="1000">
						<a href="" class="service-logo">
							<i class="fa fa-heart"></i>
						</a>
						<h3>Support</h3>
						<p>Contrary to popular belief, not simply random text. It has roots in a of Latin from 45 BC, 2000 years old.</p>
					</li>
					
					
				</ul>
				
				<div class="clear"></div>
				
				
			</div><!-- End Services Inner 1 -->
			
			</div><!-- End Services BG -->
			
			<div class="inner services bottom-bg">
			
				<div id="carousel-example-generic" class="carousel slide slide-s" data-ride="carousel">

				  <!-- Wrapper for slides -->
				  <div class="carousel-inner service-text">
				  
					<!-- Service First Text -->
					<div class="item active">
						<div class="service-bottom-text">
							responsive and  <span>clean</span>  design
						</div>
					</div>
					
					<!-- Service Second Text -->
					<div class="item">
						<div class="service-bottom-text">
							modern and <span>creative</span> design
						</div>
					</div>
					
					<!-- Service Third Text -->
					<div class="item">
						<div class="service-bottom-text">
							it's live surgery<span>video time</span> 
						</div>
					</div>
					
				  </div>
				  <!-- End Slides -->

				  <!-- Controls -->
				  <a class="left carousel-control s-controls" href="#carousel-example-generic" data-slide="prev">
				  </a>
				  <a class="right carousel-control s-controls" href="#carousel-example-generic" data-slide="next">
				  </a>
				</div>
			
			</div><!-- End Services Inner 2 -->
	</section>	<!-- End Services Section -->
	
	