<!-- Skills Section -->
	<section id="skills" class="contain ">

			<div class="inner skills">
			
			<!-- Features Top Icon -->
				<div class="contain-logo br">
					<i class="fa fa-rocket"></i>
				</div>

						<div class="header">
							<h1><b>BR1</b><span style="margin-top: 0px; font-size:24px">Sistema di Stabilizzazione</span></h1><br>
						</div>
				
					
						<!-- Tabs -->
						<div class="tabs">
						
								<!-- Nav Menu -->	
								<ul class="nav nav-tabs" id="tab-menu">
								  <li class="active"><a href="#first" data-toggle="tab">SPECIFICHE PRODOTTO</a></li>
								  <li><a href="#second" data-toggle="tab">KIT PRODOTTO</a></li>
								  <li><a href="#third" data-toggle="tab">CERTIFICAZIONE</a></li>
								  <li><a href="#fourth" data-toggle="tab">STRUMENTARIO</a></li>
								</ul>

								<div class="tab-content">
									
									{% include 'componenti/tab1.html' %}
											
											<div class="clear"></div>
											
									</div>
										
									{% include 'componenti/tab2.html' %}

												<div class="clear"></div>
												
									</div>
								 
									{% include 'componenti/tab3.html' %}
											
											<div class="clear"></div>
									</div>	

									{% include 'componenti/strumentario.html' %}
						
						</div><!-- End tab-content div -->
					
					</div><!-- End Tabs div -->
				
				
				
				
					<div class="clear"></div>
			</div><!-- End Inner div -->
	
	</section><!-- End Features Section -->