<!-- Skills Section -->
	<section id="skills" class="contain ">

			<div class="inner skills">
			
			<!-- Features Top Icon -->
				<div class="contain-logo br">
					<i class="fa fa-rocket"></i>
				</div>

						<div class="header">
							<h1><b>BR1</b><span style="margin-top: 0px; font-size:24px">Sistema di Stabilizzazzione</span></h1><br>
						</div>
				
					
						<!-- Tabs -->
						<div class="tabs">
						
								<!-- Nav Menu -->	
								<ul class="nav nav-tabs" id="tab-menu">
								  <li class="active"><a href="#first" data-toggle="tab">SPECIFICHE PRODOTTO</a></li>
								  <li><a href="#second" data-toggle="tab">KIT PRODOTTO</a></li>
								  <li><a href="#third" data-toggle="tab">CERTIFICAZIONE</a></li>
								  <li><a href="#fourth" data-toggle="tab">STRUMENTARIO</a></li>
								</ul>

								<div class="tab-content">
									
									<!-- Icon Left -->
									 <div class="tab-pane fade in active" id="first">
											
											<div class="tab-icon">
											<p style="text-align: center">
												<img src="{{STATIC_URL}}/img/minivite.png" class="imgtab" alt=""/>	
											</p>

											</div>
											
											<div class="tab-desc">
											
												<p>La prima tappa di questo percorso e’ il sistema di stabilizzazione toraco-lombo-sacrale, studiato per migliorare il comfort del chirurgo in sala operatoria. Lo Strumentario è caratterizzato da impugnature ergonomiche e strumentazione leggera pressofusa.
												<br>Le Viti a basso profilo con doppia filettatura (per semplificare e velocizzare l’impianto) sono disponibili nelle due varianti mono e poliassiali.
												<br>BR1 inoltre vanta il fatto di essere il primo sistema italiano con materiale impiantabile sterile e pronto all’uso, con etichettatura per la rintracciabilità del lotto.</p>
												<p><b>Materiali:</b>
												Tutti i diversi componenti impiantabili del sistema di stabilizzazione vertebrale BR1 sono realizzati in lega di Titanio
												Ti 6AI 4V ELI secondo ISO 5832-3, ASTM F136
												<br><br><b>Sterilizzazione:</b>
												<br>I componenti impiantabili sono sottoposti a processo di Sterilizzazione mediante ETO.<br>
												Durata della sterilità: 5 anni.
												<br>Marcatura CE: CE0476.<br><br></p>
												<div class="col-md-12" style="margin-left: 0px; padding-left:0px;">
													<hr>
												</div>
												<div class="col-md-6" style="margin-left: 0px; padding-left:0px;">
													<p><b>Indicazioni:</b>
														<br>Instabilità o deformità acute e croniche della colonna toraco-lombo-sacrale come:
														<br>• Discopatia degenerativa
														<br>• Spondilolistesi degenerativa con evidenze di deficit neurologici
														<br>• Frattura
														<br>• Stenosi
														<br>• Lussazione
														<br>• Deformità o curvature (scoliosi, ipercifosi/iperlordosi)
														<br>• Tumore
														<br>• Fallimento precedente fusione </p>
												</div>

												<div class="col-md-6">
													<p><b>Controindicazioni:</b>
														<br>• Grave osteoporosi
														<br>• Osteopenia
														<br>• Tumori primari o metastatici della colonna vertebrale
														<br>• Infezione attiva
														<br>• Quantità o qualità del tessuto osseo insufficiente, in quanto l’efficacia dell’impianto e’ direttamente correlata alla qualità dell’osso nel quale esso viene inserito
														<br>• Obesità
														<br>• Gravidanza
														<br>• Sensibilità a corpi estranei
														<br>• Condizioni che possono limitare la capacità o la volontà del paziente di ridurre le proprie azioni o di seguire le istruzioni mediche durante la fase di guarigione (senilità, malattie mentali, abuso di sostanze stupefacenti)</p>
												</div>					
											</div>
											
											<div class="clear"></div>
											
									</div>
										
									<!-- Icon right -->	
									<div class="tab-pane fade" id="second">
												<div class="tab-icon">
													<img src="{{STATIC_URL}}/img/prodotti/pack1.png" class="img-responsive" alt=""/>	
												</div>

												<div class="tab-desc">
													<div class="col-md-6">
														<h4><b>Kit contenente 2 viti monoassiali della stessa misura con 2 dadi di serraggio</b></h4>
														<table class="table table-striped">
														<tr class="titolotab">
															<th><b>Codice Prodotto</b></th>
															<th><b>Misura e descrizione</b></th>
															<!--<th><b>CND e Repertorio</b></th>-->
														</tr>
														<tr>
															<td>BR1KM4525</td>
															<td>Vite mono 4,5x25</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>
														<tr>
															<td>BR1KM4530</td>
															<td>Vite mono 4,5x30</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>
														<tr>
															<td>BR1KM4535</td>
															<td>Vite mono 4,5x35</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>
														<tr>
															<td>BR1KM4540</td>
															<td>Vite mono 4,5x40</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>
														

														<tr>
															<td>BR1KM5535</td>
															<td>Vite mono 5,5x35</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>
														<tr>
															<td>BR1KM5540</td>
															<td>Vite mono 5,5x40</td>
															<!--<td></td>-->
														</tr>
														<tr>
															<td>BR1KM5545</td>
															<td>Vite mono 5,5x45</td>
															<!--<td></td>-->
														</tr>
														<tr>
															<td>BR1KM5550</td>
															<td>Vite mono 5,5x50</td>
															<!--<td></td>-->
														</tr>
														<tr>
															<td>BR1KM5555</td>
															<td>Vite mono 5,5x55</td>
															<!--<td></td>-->
														</tr>
														<tr>
															<td>BR1KM6535</td>
															<td>Vite mono 6,5x35</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>
														<tr>
															<td>BR1KM6540</td>
															<td>Vite mono 6,5x40</td>
															<!--<td></td>-->
														</tr>
														<tr>
															<td>BR1KM6545</td>
															<td>Vite mono 6,5x45</td>
															<!--<td></td>-->
														</tr>
														<tr>
															<td>BR1KM6550</td>
															<td>Vite mono 6,5x50</td>
															<!--<td></td>-->
														</tr>
														

														<tr>
															<td>BR1KM6555</td>
															<td>Vite mono 6,5x55</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>
														<tr>
															<td>BR1KM7535</td>
															<td>Vite mono 7,5x35</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>
														<tr>
															<td>BR1KM7540</td>
															<td>Vite mono 7,5x40</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>
														<tr>
															<td>BR1KM7545</td>
															<td>Vite mono 7,5x45</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>
														<tr>
															<td>BR1KM7550</td>
															<td>Vite mono 7,5x50</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>
														</table>
													</div><!-- COL 6 -->


													<div class="col-md-6">
														<h4><b>Kit contenente 2 viti poliassiali della stessa misura con 2 dadi di serraggio</b></h4>
														<table class="table table-striped">
														<tr class="titolotab">
															<th><b>Codice Prodotto</b></th>
															<th><b>Misura e descrizione</b></th>
															<!--<th><b>CND e Repertorio</b></th>-->
														</tr>
														<tr>
															<td><span style="color: #42b515">BR1KP4525</span></td>
															<td>Vite poli 4,5x25</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>
														<tr>
															<td><span style="color: #42b515">BR1KP4530</span></td>
															<td>Vite poli 4,5x30</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>
														<tr>
															<td><span style="color: #42b515">BR1KP4535</span></td>
															<td>Vite poli 4,5x35</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>
														<tr>
															<td><span style="color: #42b515">BR1KP4540</span></td>
															<td>Vite poli 4,5x40</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>

														<tr>
															<td><span style="color: #d009c9">BR1KP5535</span></td>
															<td>Vite poli 5,5x35</td>
															<!--<td>P09070302-43664</tr>-->
														</tr>
															<tr>
															<td><span style="color: #d009c9">BR1KP5540</span></td>
															<td>Vite poli 5,5x40</td>
															<!--<td></td>-->
														</tr>
															<tr>
															<td><span style="color: #d009c9">BR1KP5545</span></td>
															<td>Vite poli 5,5x45</td>
															<!--<td></td>-->
														</tr>
															<tr>
															<td><span style="color: #d009c9">BR1KP5550</span></td>
															<td>Vite poli 5,5x50</td>
															<!--<td></td>-->
														</tr>
															<tr>
															<td><span style="color: #d009c9">BR1KP5555</span></td>
															<td>Vite poli 5,5x55</td>
															<!--<td></td>-->
														</tr>
															<tr>
															<td><span style="color: #eacb1f">BR1KP6535</span></td>
															<td>Vite poli 6,5x35</td>
															<!--<td>P09070302-43664</tr>-->
														</tr>
															<tr>
															<td><span style="color: #eacb1f">BR1KP6540</span></td>
															<td>Vite poli 6,5x40</td>
															<!--<td></tr>-->
														</tr>
															<tr>
															<td><span style="color: #eacb1f">BR1KP6545</span></td>
															<td>Vite poli 6,5x45</td>
															<!--<td></tr>-->
														</tr>
														</tr>
															<tr>
															<td><span style="color: #eacb1f">BR1KP6550</span></td>
															<td>Vite poli 6,5x50</td>
															<!--<td></tr>-->
														</tr>
														</tr>
															<tr>
															<td><span style="color: #eacb1f">BR1KP6555</span></td>
															<td>Vite poli 6,5x55</td>
															<!--<td></td>-->
														</tr>

												
														<tr>
															<td><span style="color: #1b4ece">BR1KP7535</span></td>
															<td>Vite poli 7,5x35</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>
														<tr>
															<td><span style="color: #1b4ece">BR1KP7540</span></td>
															<td>Vite poli 7,5x40</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>
														<tr>
															<td><span style="color: #1b4ece">BR1KP7545</span></td>
															<td>Vite poli 7,5x45</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>
														<tr>
															<td><span style="color: #1b4ece">BR1KP7550</span></td>
															<td>Vite poli 7,5x50</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>
														</table>
													</div><!-- COL 6 -->

													<div class="col-lg-12">
														<hr>
													</div>

													<div class="col-md-6">
														<h4><b>Kit contenente 2 barre rette della stessa misura</b><br>&nbsp;</h4>
														<table class="table table-striped">
														<tr class="titolotab">
															<th><b>Codice Prodotto</b></th>
															<th><b>Misura e descrizione</b></th>
															<!--<th><b>CND e Repertorio</b></th>-->
														</tr>
														<tr>
															<td>BR1KB5540</td>
															<td>Barra retta 5,5x40</td>
															<!--<td>P09070304-43683</td>-->
														</tr>
														<tr>
															<td>BR1KB5550</td>
															<td>Barra retta 5,5x50</td>
															<!--<td></tr> -->
														</tr>
														<tr>
															<td>BR1KB5560</td>
															<td>Barra retta 5,5x60</td>
															<!-- <td></td> -->
														</tr>
														<tr>
															<td>BR1KB5570</td>
															<td>Barra retta 5,5x70</td>
															<!-- <td></td> -->
														</tr>
														<tr>
															<td>BR1KB5580</td>
															<td>Barra retta 5,5x80</td>
															<!-- <td></td> -->
														</tr>
														<tr>
															<td>BR1KB5590</td>
															<td>Barra retta 5,5x90</td>
															<td></td>
														</tr>
														<tr>
															<td>BR1KB5510</td>
															<td>Barra retta 5,5x100</td>
															<!-- <td></td> -->
														</tr>
														<tr>
															<td>BR1KB5512</td>
															<td>Barra retta 5,5x120</td>
															<!-- <td></td> -->
														</tr>

														<tr>
															<td>BR1KB5514</td>
															<td>Barra retta 5,5x140</td>
															<!-- <td></td> -->
														</tr>
														<tr>
															<td>BR1KB5515</td>
															<td>Barra retta 5,5x150</td>
															<!-- <td></td> -->
														</tr>
														<tr>
															<td>BR1KB5516</td>
															<td>Barra retta 5,5x160</td>
															<!-- <td></td> -->
														</tr>
														<tr>
															<td>BR1KB5518</td>
															<td>Barra retta 5,5x180</td>
															<!-- <td></td> -->
														</tr>
														<tr>
															<td>BR1KB5520</td>
															<td>Barra retta 5,5x200</td>
															<!-- <td></td> -->
														</tr>
														<tr>
															<td>BR1KB5525</td>
															<td>Barra retta 5,5x250</td>
															<!-- <td></td> -->
														</tr>
														<tr>
															<td>BR1KB5530</td>
															<td>Barra retta 5,5x300</td>
															<!-- <td></td> -->
														</tr>		
														<tr>
															<td>BR1KB5545</td>
															<td>Barra retta 5,5x450</td>
															<!-- <td></td> -->
														</tr>																
														</table>
													</div><!-- COL 6 -->

														<div class="col-md-6">
														<h4><b>Kit contenente 2 barre precurvate della stessa misura</b></h4>
														<table class="table table-striped">
														<tr class="titolotab">
															<th><b>Codice Prodotto</b></th>
															<th><b>Misura e descrizione</b></th>
															<!-- <th><b>CND e Repertorio</b></th> -->
														</tr>
														<tr>
															<td>BR1KC5540</td>
															<td>Barra precurvata 5,5x40</td>
															<!-- <td>P09070304-43684</td> -->
														</tr>
														<tr>
															<td>BR1KC5550</td>
															<td>Barra precurvata 5,5x50</td>
															<!-- <td></td> -->
														</tr>	
														<tr>
															<td>BR1KC5560</td>
															<td>Barra precurvata 5,5x60</td>
															<!-- <td></td> -->
														</tr>	
														<tr>
															<td>BR1KC5570</td>
															<td>Barra precurvata 5,5x70</td>
															<!-- <td></td> -->
														</tr>	
														<tr>
															<td>BR1KC5580</td>
															<td>Barra precurvata 5,5x80</td>
															<!-- <td></td> -->
														</tr>
														<tr>
															<td>BR1KC5590</td>
															<td>Barra precurvata 5,5x90</td>
															<!-- <td></td> -->
														</tr>
														<tr>
															<td>BR1KC5510</td>
															<td>Barra precurvata 5,5x100</td>
															<!-- <td></td> -->
														</tr>
														<tr>
															<td>BR1KC5512</td>
															<td>Barra precurvata 5,5x120</td>
															<!-- <td></td> -->
														</tr>

														</table>
													</div><!-- COL 6 -->

													<div class="col-lg-12">
														<hr>
													</div>

													<div class="col-md-6">
														<h4><b>Accessori</b></h4>
														<table class="table table-striped">
														<tr class="titolotab">
															<th><b>Codice Prodotto</b></th>
															<th><b>Misura e descrizione</b></th>
															<!--<th><b>CND e Repertorio</b></th>-->
														</tr>
														<tr>
															<td>BR1KG0001</td>
															<td>Dadi di serraggio</td>
															<!--<td>P09070302-43723</td>-->
														</tr>
														</table>
														</div>

														<div class="col-md-6">
														<h4><b>&nbsp;</b></h4>
														<table class="table table-striped">
														<tr class="titolotab">
															<th><b>Codice Prodotto</b></th>
															<th><b>Misura e descrizione</b></th>
															<!--<th><b>CND e Repertorio</b></th> -->
														</tr>
														<tr>
															<td>BR1C00XXS</td>
															<td>CONNETTORI PONTE MOBILI
																<br>disponibili su richiesta con una vasta gamma di misure</td>
															<!--<td>P09070304-627790</td>-->
														</tr>
														</table>
													</div><!-- COL 6 -->

													<div class="col-md-6">
														<h4><b>&nbsp;</b></h4>
														<table class="table table-striped">
														<tr class="titolotab">
															<th><b>Codice Prodotto</b></th>
															<th><b>Misura e descrizione</b></th>
															<!--<th><b>CND e Repertorio</b></th>-->
														</tr>
														<tr>
															<td>BR1C01XXS</td>
															<td>GANCI LAMINARI<br>disponibili su richiesta con vasta gamma di misure</td>
															<!--<td>P09070304-6278XX</td> -->
														</table>
													</div><!-- COL 6 -->

													<div class="col-md-12">
														<hr>
													</div>
										
												</div>

												<div class="clear"></div>
												
									</div>
								 
									<!-- Only Text -->	
									<div class="tab-pane fade" id="third">
															
											<div class="tab-desc only">
												<br>
												<p><h4>Prodotto Certificato <b>KIWA CERMET</b></h4>
												<br><img src="{{STATIC_URL}}/img/kiwa.jpg" class="img-responsive" style="width:50%;">
												<hr>
												<br><h4>Dichiarazione <b>NICHEL FREE</h4></b>
												<br><a href="{{STATIC_URL}}/BR1_NICHEL.pdf" target="blank"><i class="fa fa-file-pdf-o fa-2x" style="margin-top:10px;"></i><span style="font-size: 12px; margin-left:15px;">Scarica la dichiarazione BR1 Nichel free</span></a>
												<hr>
												<br><h4><b>Test Meccanici</b> Politecnico Milano</h4>
												<br><a href="{{STATIC_URL}}/Relazione.pdf" target="blank"><i class="fa fa-file-pdf-o  fa-2x" style="margin-top:10px;"></i><span style="font-size: 12px; margin-left:15px;">Scarica la Relazione</span></a></p>

												<hr>
												<br>
												<h4>Certificazione provenienza Titanio e Acciaio (su richiesta)</h4>
											</div>
											
											<div class="clear"></div>
									</div>	

									<!-- Icon left -->	
									<div class="tab-pane fade" id="fourth">

											
											<div class="tab-desc" style="width: 98%">

												<p>Lo strumentario è caratterizzato da impugnature ergonomiche e strumentazione leggera pressofusa.
													<br>Prodotto totalmente in italia con acciaio certificato.
													<br>Peso totale dello strumentario: 12,50 Kg.
													</p>
													<hr>										
											</div>
											
												<div class="col-md-3 thumbgallery">
													<p class="titolothumb">Didascalia1</p>
													<img src="img/strumentario/1.jpeg" class="img-responsive stondami">
												</div>
												<div class="col-md-3 thumbgallery">
													<p class="titolothumb">Didascalia2</p>
													<img src="img/strumentario/2.jpeg" class="img-responsive stondami">
												</div>
												<div class="col-md-3 thumbgallery">
													<p class="titolothumb">Didascalia3</p>
													<img src="img/strumentario/3.jpeg" class="img-responsive stondami">
												</div>
												<div class="col-md-3 thumbgallery">
													<p class="titolothumb">Didascalia4</p>
													<img src="img/strumentario/4.jpeg" class="img-responsive stondami">
												</div>
												<div class="col-md-3 thumbgallery">
													<p class="titolothumb">Didascalia5</p>
													<img src="img/strumentario/5.jpeg" class="img-responsive stondami">
												</div>
												<div class="col-md-3 thumbgallery">
													<p class="titolothumb">Didascalia6</p>
													<img src="img/strumentario/6.jpeg" class="img-responsive stondami">
												</div>
												<div class="col-md-3 thumbgallery">
													<p class="titolothumb">Didascalia8</p>
													<img src="img/strumentario/7.jpeg" class="img-responsive stondami">
												</div>
												<div class="col-md-3 thumbgallery">
													<p class="titolothumb">Didascalia8</p>
													<img src="img/strumentario/8.jpeg" class="img-responsive stondami">
												</div>							
											
											<div class="clear"></div>
									</div>
						
						</div><!-- End tab-content div -->
					
					</div><!-- End Tabs div -->
				
				
				
				
					<div class="clear"></div>
			</div><!-- End Inner div -->
	
	</section><!-- End Features Section -->