	<!-- Rev Slider -->
		<section id="slider" class="contain">

		<div class="tp-banner">

		<ul>

			<!-- Slide -->
			<li class="revslide" data-transition="random" data-slotamount="7" data-masterspeed="800" >
					<!-- MAIN IMAGE -->
					<img src="{{STATIC_URL}}/img/GIS2016.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
					<!-- LAYERS -->
			</li>


			<!-- Slide -->
			<li class="revslide" data-transition="random" data-slotamount="7" data-masterspeed="800" >
					<!-- MAIN IMAGE -->
					<img src="{{STATIC_URL}}/img/gallery/vite.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
					<!-- LAYERS -->

					<!-- Layer 1 -->
					<div class="tp-caption  lft customout"
						data-x="700"
						data-y="10"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="500"
						data-start="1200"
						data-easing="Power4.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on">
						<h1 class="stext h1">PROGETTO<span style="color: red">BR1</span></h1>
					</div>

					<!-- Layer 2 -->
					<div class="tp-caption  skewfromrightshort customout"
						data-x="700"
						data-y="60"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="500"
						data-start="1500"
						data-easing="Power4.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on">
						<h2 class="stext h2">sistema italiano di stabilizzazione</h2>
					</div>

					<!-- Layer 3 -->
					<div class="tp-caption customin customout"
						data-x="723"
						data-y="120"
						data-customin="x:0;y:50;z:0;rotationX:0;rotationY:0;rotationZ:0;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="400"
						data-start="1700"
						data-easing="Power4.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						>
						<img src="{{STATIC_URL}}/images/rev-slider/s1.png" alt="">
					</div>

					<!-- Layer 4 -->
					<div class="tp-caption customin customout"
						data-x="723"
						data-y="180"
						data-customin="x:0;y:50;z:0;rotationX:0;rotationY:0;rotationZ:0;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="400"
						data-start="1850"
						data-easing="Power4.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						>
						<img src="{{STATIC_URL}}/images/rev-slider/s2.png" alt="">
					</div>

					<!-- Layer 5 -->
					<div class="tp-caption customin customout"
						data-x="723"
						data-y="240"
						data-customin="x:0;y:50;z:0;rotationX:0;rotationY:0;rotationZ:0;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="400"
						data-start="2000"
						data-easing="Power4.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						>
						<img src="{{STATIC_URL}}/images/rev-slider/s3.png" alt="">
					</div>

					<!-- Layer 6 -->
					<div class="tp-caption customin customout"
						data-x="780"
						data-y="120"
						data-customin="x:50;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="400"
						data-start="1700"
						data-easing="Power4.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						>
						<h3 class="stext h3">Made in Italy</h3>
					</div>

					<!-- Layer 7 -->
					<div class="tp-caption customin customout"
						data-x="780"
						data-y="180"
						data-customin="x:50;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="400"
						data-start="1850"
						data-easing="Power4.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						>
						<h3 class="stext h3">Nickel Free</h3>
					</div>

					<!-- Layer 8 -->
					<div class="tp-caption customin customout"
						data-x="780"
						data-y="240"
						data-customin="x:50;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="400"
						data-start="2000"
						data-easing="Power4.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						>
						<h3 class="stext h3">Certificazione provenienza<br>Titanio e Acciaio</h3>
					</div>


			</li>


			<!-- Slide -->
			<li class="revslide" data-transition="random" data-slotamount="7" data-masterspeed="800" >
					<!-- MAIN IMAGE -->
					<img src="{{STATIC_URL}}/img/gallery/vite1.jpg"  alt="slidebg2"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
					<!-- LAYERS -->

					<!-- Layer 1 -->
					<div class="tp-caption sft customout"
						data-x="center"
						data-y="250"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="900"
						data-start="1400"
						data-easing="Power4.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on">
						<h4 class="stext h4"></h4>
					</div>

					<!-- Layer 2 -->
					<div class="tp-caption sfb customout"
						data-x="center"
						data-y="300"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="900"
						data-start="1700"
						data-easing="Power4.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on">
						<h7 class="stext h7">utilizzare prodotti italiani vuol dire investire sul nostro futuro, sulla nostra salute e sulla qualità di un prodotto che da sempre ci contraddistingue nel mondo</h5>
					</div>

				</li>






				<script type="text/javascript">

	var revapi;

	jQuery(document).ready(function() {

			 revapi = jQuery('.tp-banner').revolution(
			{
				delay:15000,
				startwidth:1920,
				startheight:550,
				hideThumbs:10,
				fullWidth:"on",
				fullScreen:"off",
				navigationStyle:"bullet",
				fullScreenOffsetContainer: ""

			});

	});	//ready

</script>





<!--li class="revslide" data-transition="random" data-slotamount="7" data-masterspeed="800" >

					<img src="{{STATIC_URL}}/img/gallery/BR1roma.jpg"  alt="slidebg2"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">


				</li-->











			 </ul>
		</div>
		</section>
		<!-- End Rev Slider -->


		<!-- Text Area -->
		<section id="text-area">
			<div class="inner text-area">
			 <h1>BR1 una storia tutta italiana dalla progettazione alla produzione, espressione medicale del made in italy...</h1>
			 		<!--
					<a href="#" class="button purchase">
						Purchase
					</a>

					<a href="#about" class="button more scroll">
						Read More
					</a>
				-->

			</div>
		</section>
		<!-- End Rev Slider -->
