	<!-- Rev Slider -->
		<section id="slider" class="contain">

		<div class="tp-banner">

		<ul>

			<!-- Slide -->
			<li class="revslide" data-transition="random" data-slotamount="7" data-masterspeed="800" >
					<!-- MAIN IMAGE -->
					<img src="{{STATIC_URL}}/img/GIS2016.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
					<!-- LAYERS -->
			</li>







				<script type="text/javascript">

	var revapi;

	jQuery(document).ready(function() {

			 revapi = jQuery('.tp-banner').revolution(
			{
				delay:15000,
				startwidth:1920,
				startheight:550,
				hideThumbs:10,
				fullWidth:"on",
				fullScreen:"off",
				navigationStyle:"bullet",
				fullScreenOffsetContainer: ""

			});

	});	//ready

</script>





<!--li class="revslide" data-transition="random" data-slotamount="7" data-masterspeed="800" >

					<img src="{{STATIC_URL}}/img/gallery/BR1roma.jpg"  alt="slidebg2"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">


				</li-->











			 </ul>
		</div>
		</section>
		<!-- End Rev Slider -->


		<!-- Text Area -->
		<section id="text-area">
			<div class="inner text-area">
			 <h1>BR1 una storia tutta italiana dalla progettazione alla produzione, espressione medicale del made in italy...</h1>
			 		<!--
					<a href="#" class="button purchase">
						Purchase
					</a>

					<a href="#about" class="button more scroll">
						Read More
					</a>
				-->

			</div>
		</section>
		<!-- End Rev Slider -->
