	<!-- Subscribe Section -->
	<section id="subscribe" class="contain">
			
			<div class="inner subscribe">
			
					<!--Subscribe Left -->
					<div class="col-xs-7 subs left">
					
						<!--Subscribe Left Icon -->
						<a class="left-icon">
							<i class="fa fa-envelope-o"></i>
						</a>
						
						<!--Subscribe Head and Texts -->
						<div class="text">
							<h1>
								Isciviti<span> alla nostra newsletter ?</span>
							</h1>
							<p>
								Ti terremo sempre aggiornato sulle novità di BR1italia.
							</p>
						</div>
						<div class="clear"></div>
					</div>
					
					<!--Subscribe Right -->
					<div class="col-xs-5 subs right">
						<form action="/iscriviti/" method="post">{% csrf_token %}
						<!--Subscribe input -->
						 <input type="email" name="email" class="subscribe-mail"  required="required" id="e-mail" placeholder="la tua email" />
						 <!--Subscribe Button -->
						 <button type="submit" class="subscribe-btn subs">Iscriviti</button>
						 </form>
					</div>
					
					<div class="clear"></div>
			</div><!-- End Subscribe inner -->
	
	</section><!-- End Subscribe Section -->