<!-- Icon Left -->
									 <div class="tab-pane fade in active" id="first">
											
											<div class="tab-icon">
											<p style="text-align: center">
												<img src="{{STATIC_URL}}/img/minivite.png" class="imgtab" alt=""/>	
											</p>

											</div>
											
											<div class="tab-desc">
											
												<p>La prima tappa di questo percorso e’ il sistema di stabilizzazione toraco-lombo-sacrale, studiato per migliorare il comfort del chirurgo in sala operatoria. Lo Strumentario è caratterizzato da impugnature ergonomiche e strumentazione leggera pressofusa.
												<br>Le Viti a basso profilo con doppia filettatura (per semplificare e velocizzare l’impianto) sono disponibili nelle due varianti mono e poliassiali.
												<br>BR1 inoltre vanta il fatto di essere il primo sistema italiano con materiale impiantabile sterile e pronto all’uso, con etichettatura per la rintracciabilità del lotto.</p>
												<p><b>Materiali:</b>
												Tutti i diversi componenti impiantabili del sistema di stabilizzazione vertebrale BR1 sono realizzati in lega di Titanio
												Ti 6AI 4V ELI secondo ISO 5832-3, ASTM F136
												<br><br><b>Sterilizzazione:</b>
												<br>I componenti impiantabili sono sottoposti a processo di Sterilizzazione mediante ETO.<br>
												Durata della sterilità: 5 anni.
												<br>Marcatura CE: CE0476.<br><br></p>
												<div class="col-md-12" style="margin-left: 0px; padding-left:0px;">
													<hr>
												</div>
												<div class="col-md-6" style="margin-left: 0px; padding-left:0px;">
													<p><b>Indicazioni:</b>
														<br>Instabilità o deformità acute e croniche della colonna toraco-lombo-sacrale come:
														<br>• Discopatia degenerativa
														<br>• Spondilolistesi degenerativa con evidenze di deficit neurologici
														<br>• Frattura
														<br>• Stenosi
														<br>• Lussazione
														<br>• Deformità o curvature (scoliosi, ipercifosi/iperlordosi)
														<br>• Tumore
														<br>• Fallimento precedente fusione </p>
												</div>

												<div class="col-md-6">
													<p><b>Controindicazioni:</b>
														<br>• Grave osteoporosi
														<br>• Osteopenia
														<br>• Tumori primari o metastatici della colonna vertebrale
														<br>• Infezione attiva
														<br>• Quantità o qualità del tessuto osseo insufficiente, in quanto l’efficacia dell’impianto e’ direttamente correlata alla qualità dell’osso nel quale esso viene inserito
														<br>• Obesità
														<br>• Gravidanza
														<br>• Sensibilità a corpi estranei
														<br>• Condizioni che possono limitare la capacità o la volontà del paziente di ridurre le proprie azioni o di seguire le istruzioni mediche durante la fase di guarigione (senilità, malattie mentali, abuso di sostanze stupefacenti)</p>
												</div>					
											</div>