<!-- Icon right -->	
									<div class="tab-pane fade" id="second">
												<div class="tab-icon">
													<img src="{{STATIC_URL}}/img/prodotti/pack1.png" class="img-responsive" alt=""/>	
												</div>

												<div class="tab-desc">
													<div class="col-md-6">
														<h4><b>Kit contenente 2 viti monoassiali della stessa misura con 2 dadi di serraggio</b></h4>
														<table class="table table-striped">
														<tr class="titolotab">
															<th><b>Codice Prodotto</b></th>
															<th><b>Misura e descrizione</b></th>
															<!--<th><b>CND e Repertorio</b></th>-->
														</tr>
														<tr>
															<td>BR1KM4525</td>
															<td>Vite mono 4,5x25</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>
														<tr>
															<td>BR1KM4530</td>
															<td>Vite mono 4,5x30</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>
														<tr>
															<td>BR1KM4535</td>
															<td>Vite mono 4,5x35</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>
														<tr>
															<td>BR1KM4540</td>
															<td>Vite mono 4,5x40</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>
														

														<tr>
															<td>BR1KM5535</td>
															<td>Vite mono 5,5x35</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>
														<tr>
															<td>BR1KM5540</td>
															<td>Vite mono 5,5x40</td>
															<!--<td></td>-->
														</tr>
														<tr>
															<td>BR1KM5545</td>
															<td>Vite mono 5,5x45</td>
															<!--<td></td>-->
														</tr>
														<tr>
															<td>BR1KM5550</td>
															<td>Vite mono 5,5x50</td>
															<!--<td></td>-->
														</tr>
														<tr>
															<td>BR1KM5555</td>
															<td>Vite mono 5,5x55</td>
															<!--<td></td>-->
														</tr>
														<tr>
															<td>BR1KM6535</td>
															<td>Vite mono 6,5x35</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>
														<tr>
															<td>BR1KM6540</td>
															<td>Vite mono 6,5x40</td>
															<!--<td></td>-->
														</tr>
														<tr>
															<td>BR1KM6545</td>
															<td>Vite mono 6,5x45</td>
															<!--<td></td>-->
														</tr>
														<tr>
															<td>BR1KM6550</td>
															<td>Vite mono 6,5x50</td>
															<!--<td></td>-->
														</tr>
														

														<tr>
															<td>BR1KM6555</td>
															<td>Vite mono 6,5x55</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>
														<tr>
															<td>BR1KM7535</td>
															<td>Vite mono 7,5x35</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>
														<tr>
															<td>BR1KM7540</td>
															<td>Vite mono 7,5x40</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>
														<tr>
															<td>BR1KM7545</td>
															<td>Vite mono 7,5x45</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>
														<tr>
															<td>BR1KM7550</td>
															<td>Vite mono 7,5x50</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>
														</table>
													</div><!-- COL 6 -->


													<div class="col-md-6">
														<h4><b>Kit contenente 2 viti poliassiali della stessa misura con 2 dadi di serraggio</b></h4>
														<table class="table table-striped">
														<tr class="titolotab">
															<th><b>Codice Prodotto</b></th>
															<th><b>Misura e descrizione</b></th>
															<!--<th><b>CND e Repertorio</b></th>-->
														</tr>
														<tr>
															<td><span style="color: #42b515">BR1KP4525</span></td>
															<td>Vite poli 4,5x25</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>
														<tr>
															<td><span style="color: #42b515">BR1KP4530</span></td>
															<td>Vite poli 4,5x30</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>
														<tr>
															<td><span style="color: #42b515">BR1KP4535</span></td>
															<td>Vite poli 4,5x35</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>
														<tr>
															<td><span style="color: #42b515">BR1KP4540</span></td>
															<td>Vite poli 4,5x40</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>

														<tr>
															<td><span style="color: #d009c9">BR1KP5535</span></td>
															<td>Vite poli 5,5x35</td>
															<!--<td>P09070302-43664</tr>-->
														</tr>
															<tr>
															<td><span style="color: #d009c9">BR1KP5540</span></td>
															<td>Vite poli 5,5x40</td>
															<!--<td></td>-->
														</tr>
															<tr>
															<td><span style="color: #d009c9">BR1KP5545</span></td>
															<td>Vite poli 5,5x45</td>
															<!--<td></td>-->
														</tr>
															<tr>
															<td><span style="color: #d009c9">BR1KP5550</span></td>
															<td>Vite poli 5,5x50</td>
															<!--<td></td>-->
														</tr>
															<tr>
															<td><span style="color: #d009c9">BR1KP5555</span></td>
															<td>Vite poli 5,5x55</td>
															<!--<td></td>-->
														</tr>
															<tr>
															<td><span style="color: #eacb1f">BR1KP6535</span></td>
															<td>Vite poli 6,5x35</td>
															<!--<td>P09070302-43664</tr>-->
														</tr>
															<tr>
															<td><span style="color: #eacb1f">BR1KP6540</span></td>
															<td>Vite poli 6,5x40</td>
															<!--<td></tr>-->
														</tr>
															<tr>
															<td><span style="color: #eacb1f">BR1KP6545</span></td>
															<td>Vite poli 6,5x45</td>
															<!--<td></tr>-->
														</tr>
														</tr>
															<tr>
															<td><span style="color: #eacb1f">BR1KP6550</span></td>
															<td>Vite poli 6,5x50</td>
															<!--<td></tr>-->
														</tr>
														</tr>
															<tr>
															<td><span style="color: #eacb1f">BR1KP6555</span></td>
															<td>Vite poli 6,5x55</td>
															<!--<td></td>-->
														</tr>

												
														<tr>
															<td><span style="color: #1b4ece">BR1KP7535</span></td>
															<td>Vite poli 7,5x35</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>
														<tr>
															<td><span style="color: #1b4ece">BR1KP7540</span></td>
															<td>Vite poli 7,5x40</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>
														<tr>
															<td><span style="color: #1b4ece">BR1KP7545</span></td>
															<td>Vite poli 7,5x45</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>
														<tr>
															<td><span style="color: #1b4ece">BR1KP7550</span></td>
															<td>Vite poli 7,5x50</td>
															<!--<td>P09070302-43663</tr>-->
														</tr>
														</table>
													</div><!-- COL 6 -->

													<div class="col-lg-12">
														<hr>
													</div>

													<div class="col-md-6">
														<h4><b>Kit contenente 2 barre rette della stessa misura</b><br>&nbsp;</h4>
														<table class="table table-striped">
														<tr class="titolotab">
															<th><b>Codice Prodotto</b></th>
															<th><b>Misura e descrizione</b></th>
															<!--<th><b>CND e Repertorio</b></th>-->
														</tr>
														<tr>
															<td>BR1KB5540</td>
															<td>Barra retta 5,5x40</td>
															<!--<td>P09070304-43683</td>-->
														</tr>
														<tr>
															<td>BR1KB5550</td>
															<td>Barra retta 5,5x50</td>
															<!--<td></tr> -->
														</tr>
														<tr>
															<td>BR1KB5560</td>
															<td>Barra retta 5,5x60</td>
															<!-- <td></td> -->
														</tr>
														<tr>
															<td>BR1KB5570</td>
															<td>Barra retta 5,5x70</td>
															<!-- <td></td> -->
														</tr>
														<tr>
															<td>BR1KB5580</td>
															<td>Barra retta 5,5x80</td>
															<!-- <td></td> -->
														</tr>
														<tr>
															<td>BR1KB5590</td>
															<td>Barra retta 5,5x90</td>
															<td></td>
														</tr>
														<tr>
															<td>BR1KB5510</td>
															<td>Barra retta 5,5x100</td>
															<!-- <td></td> -->
														</tr>
														<tr>
															<td>BR1KB5512</td>
															<td>Barra retta 5,5x120</td>
															<!-- <td></td> -->
														</tr>

														<tr>
															<td>BR1KB5514</td>
															<td>Barra retta 5,5x140</td>
															<!-- <td></td> -->
														</tr>
														<tr>
															<td>BR1KB5515</td>
															<td>Barra retta 5,5x150</td>
															<!-- <td></td> -->
														</tr>
														<tr>
															<td>BR1KB5516</td>
															<td>Barra retta 5,5x160</td>
															<!-- <td></td> -->
														</tr>
														<tr>
															<td>BR1KB5518</td>
															<td>Barra retta 5,5x180</td>
															<!-- <td></td> -->
														</tr>
														<tr>
															<td>BR1KB5520</td>
															<td>Barra retta 5,5x200</td>
															<!-- <td></td> -->
														</tr>
														<tr>
															<td>BR1KB5525</td>
															<td>Barra retta 5,5x250</td>
															<!-- <td></td> -->
														</tr>
														<tr>
															<td>BR1KB5530</td>
															<td>Barra retta 5,5x300</td>
															<!-- <td></td> -->
														</tr>		
														<tr>
															<td>BR1KB5545</td>
															<td>Barra retta 5,5x450</td>
															<!-- <td></td> -->
														</tr>																
														</table>
														<p>disponibili su richiesta con altri diametri</p>
													</div><!-- COL 6 -->

														<div class="col-md-6">


														<h4><b>Kit Contenente 2 viti da richiamo Poliassiali della stessa misura con 2 dadi di serraggio</b></h4>
														<table class="table table-striped">
														<tr class="titolotab">
															<th><b>Codice Prodotto</b></th>
															<th><b>Misura e descrizione</b></th>
															<!-- <th><b>CND e Repertorio</b></th> -->
														</tr>
														<tr>
															<td><span style="color: #d009c9">BR1KPBO5535</span></td>
															<td>VITI DA RICHIAMO POLI 5,5 X35</td>
															<!-- <td>P09070304-43684</td> -->
														</tr>

														<tr>
															<td><span style="color: #d009c9">BR1KPBO5540</span></td>
															<td>VITI DA RICHIAMO POLI 5,5 X40</td>
															<!-- <td>P09070304-43684</td> -->
														</tr>

														<tr>
															<td><span style="color: #d009c9">BR1KPBO5545</span></td>
															<td>VITI DA RICHIAMO POLI 5,5 X45</td>
															<!-- <td>P09070304-43684</td> -->
														</tr>
														<!-- XXX -->
														<tr>
															<td><span style="color: #eacb1f">BR1KPBO6535</span></td>
															<td>VITI DA RICHIAMO POLI 6,5 X35</td>
															<!-- <td>P09070304-43684</td> -->
														</tr>

														<tr>
															<td><span style="color: #eacb1f">BR1KPBO6540</span></td>
															<td>VITI DA RICHIAMO POLI 6,5 X40</td>
															<!-- <td>P09070304-43684</td> -->
														</tr>

														<tr>
															<td><span style="color: #eacb1f">BR1KPBO6545</span></td>
															<td>VITI DA RICHIAMO POLI 6,5 X45</td>
															<!-- <td>P09070304-43684</td> -->
														</tr>
														<!-- XXX -->
														<tr>
															<td><span style="color: #1b4ece">BR1KPBO7535</span></td>
															<td>VITI DA RICHIAMO POLI 7,5 X35</td>
															<!-- <td>P09070304-43684</td> -->
														</tr>

														<tr>
															<td><span style="color: #1b4ece">BR1KPBO7540</span></td>
															<td>VITI DA RICHIAMO POLI 7,5 X40</td>
															<!-- <td>P09070304-43684</td> -->
														</tr>

														<tr>
															<td><span style="color: #1b4ece">BR1KPBO7545</span></td>
															<td>VITI DA RICHIAMO POLI 7,5 X45</td>
															<!-- <td>P09070304-43684</td> -->
														</tr>
													

														</table>


														<h4><b>Kit contenente 2 barre precurvate della stessa misura</b></h4>
														<table class="table table-striped">
														<tr class="titolotab">
															<th><b>Codice Prodotto</b></th>
															<th><b>Misura e descrizione</b></th>
															<!-- <th><b>CND e Repertorio</b></th> -->
														</tr>
														<tr>
															<td>BR1KC5540</td>
															<td>Barra precurvata 5,5x40</td>
															<!-- <td>P09070304-43684</td> -->
														</tr>
														<tr>
															<td>BR1KC5550</td>
															<td>Barra precurvata 5,5x50</td>
															<!-- <td></td> -->
														</tr>	
														<tr>
															<td>BR1KC5560</td>
															<td>Barra precurvata 5,5x60</td>
															<!-- <td></td> -->
														</tr>	
														<tr>
															<td>BR1KC5570</td>
															<td>Barra precurvata 5,5x70</td>
															<!-- <td></td> -->
														</tr>	
														<tr>
															<td>BR1KC5580</td>
															<td>Barra precurvata 5,5x80</td>
															<!-- <td></td> -->
														</tr>
														<tr>
															<td>BR1KC5590</td>
															<td>Barra precurvata 5,5x90</td>
															<!-- <td></td> -->
														</tr>
														<tr>
															<td>BR1KC5510</td>
															<td>Barra precurvata 5,5x100</td>
															<!-- <td></td> -->
														</tr>
														<tr>
															<td>BR1KC5512</td>
															<td>Barra precurvata 5,5x120</td>
															<!-- <td></td> -->
														</tr>
														</table>
														<p>disponibili su richiesta con altri diametri</p>
													</div><!-- COL 6 -->

													<div class="col-lg-12">
														<hr>
													</div>

													<div class="col-md-6">
														<h4><b>Accessori</b></h4>
														<table class="table table-striped">
														<tr class="titolotab">
															<th><b>Codice Prodotto</b></th>
															<th><b>Misura e descrizione</b></th>
															<!--<th><b>CND e Repertorio</b></th>-->
														</tr>
														<tr>
															<td>BR1KG0001</td>
															<td>Dadi di serraggio</td>
															<!--<td>P09070302-43723</td>-->
														</tr>
														</table>
														</div>

														<div class="col-md-6">
														<h4><b>&nbsp;</b></h4>
														<table class="table table-striped">
														<tr class="titolotab">
															<th><b>Codice Prodotto</b></th>
															<th><b>Misura e descrizione</b></th>
															<!--<th><b>CND e Repertorio</b></th> -->
														</tr>
														<tr>
															<td>BR1C00XXS</td>
															<td>CONNETTORI PONTE MOBILI
																<br>disponibili su richiesta con una vasta gamma di misure</td>
															<!--<td>P09070304-627790</td>-->
														</tr>
														</table>
													</div><!-- COL 6 -->

													<div class="col-md-6">
														<h4><b>&nbsp;</b></h4>
														<table class="table table-striped">
														<tr class="titolotab">
															<th><b>Codice Prodotto</b></th>
															<th><b>Misura e descrizione</b></th>
															<!--<th><b>CND e Repertorio</b></th>-->
														</tr>
														<tr>
															<td>BR1C01XXS</td>
															<td>GANCI LAMINARI<br>disponibili su richiesta con vasta gamma di misure</td>
															<!--<td>P09070304-6278XX</td> -->
														</table>
													</div><!-- COL 6 -->

													<div class="col-md-12">
														<hr>
													</div>
										
												</div>