<!-- Only Text -->	
									<div class="tab-pane fade" id="third">
															
											<div class="tab-desc only">
												<br>
												<p><h4>Prodotto Certificato <b>KIWA CERMET</b></h4>
												<br><img src="{{STATIC_URL}}/kiwa.jpg" class="img-responsive" style="width:50%;">
												<hr>
												<br><h4>Dichiarazione <b>NICHEL FREE</h4></b>
												<br><a href="{{STATIC_URL}}/BR1_NICHEL.pdf" target="blank"><i class="fa fa-file-pdf-o fa-2x" style="margin-top:10px;"></i><span style="font-size: 12px; margin-left:15px;">Scarica la dichiarazione BR1 Nichel free</span></a>
												<hr>
												<br><h4><b>Test Meccanici</b> Politecnico Milano</h4>
												<br><a href="{{STATIC_URL}}/Relazione.pdf" target="blank"><i class="fa fa-file-pdf-o  fa-2x" style="margin-top:10px;"></i><span style="font-size: 12px; margin-left:15px;">Scarica la Relazione</span></a></p>

												<hr>
												<br>
												<h4>Certificazione provenienza Titanio e Acciaio (su richiesta)</h4>
											</div>