<!-- History Section -->
	<section id="history" class="contain parallax1 ">
		
			<div class="inner">
			
				<!-- History Top Icon -->
				<div class="contain-logo br">
					<i class="fa fa-clock-o "></i>
				</div>
			
				<!-- Header -->
				<div class="header white">
					company history
				</div>
				
				<!-- Second Header -->
				<div class="page-desc white">
					Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
				</div>
			
					<ul class="timeline list-unstyled">
						
						<!-- History Year -->
						<li class="year">2013</li>
						
						<li class="note animated" data-animation="fadeInRight" data-animation-delay="50">
							<h4>
								The standard chunk
							</h4>
							<p class="desc">
								This is Photoshop's version  Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.
							</p>
							<span class="date">
								20 DEC 2013
							</span>
							
							<span class="arrow fa fa-play"></span>
							
						</li>
						
						<li class="note animated" data-animation="fadeInLeft" data-animation-delay="50">
							<h4>
								There are many variations of passages
							</h4>
							<p class="desc">
								This is Photoshop's version  Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.
							</p>
							<span class="date">
								11 JUN 2013
							</span>
							
							<span class="arrow fa fa-play"></span>
							
						</li>
						
						<li class="note animated" data-animation="fadeInRight" data-animation-delay="100">
							<h4>
								Sed ut perspiciatis.
							</h4>
							<p class="desc">
								This is Photoshop's version  Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit a consequat.Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, quis bibendum auctor, nisi elit consequat.
							</p>
							<span class="date">
								15 MAY 2013
							</span>
							
							<span class="arrow fa fa-play"></span>
							
						</li>
						
						<li class="note animated" data-animation="fadeInLeft" data-animation-delay="100">
							<h4>
								Finibus Bonorum et
							</h4>
							<p class="desc">
								This is Photoshop's version  Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.
							</p>
							<span class="date">
								08 FEB 2013
							</span>
							
							<span class="arrow fa fa-play"></span>
							
						</li>
						
						<!-- History Year -->
						<li class="year">2012</li>
						
						<li class="note animated" data-animation="fadeInLeft" data-animation-delay="150">
							<h4>
								1914 translation by H. Rackham
							</h4>
							<p class="desc">
								This is Photoshop's version  Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
							</p>
							<span class="date">
								18 NOV 2012
							</span>
							
							<span class="arrow fa fa-play"></span>
							
						</li>
						
						<li class="note animated" data-animation="fadeInRight" data-animation-delay="150">
							<h4>
								At vero eos et accusamus et iusto
							</h4>
							<p class="desc">
								This is Photoshop's version  Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
							</p>
							<span class="date">
								20 AUG 2012
							</span>
							
							<span class="arrow fa fa-play"></span>
							
						</li>
						
						<!-- Start icon -->
						<li class="start fa fa-bookmark"></li>
						
						<li class="clear"></li>
						
					</ul><!-- End Timeline ul -->
					
			</div><!-- End inner div -->
			
	</section><!-- End History Section -->
	