<!-- Video Section -->
	<section id="video" class="contain">
				<div class="col-xs-12 col-md-12 hidden-md hidden-lg" style="z-index: 1200">
					<iframe width="640" height="480" src="//www.youtube.com/embed/401unVQIYpU?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>
	
			<!-- Video Top Icon -->
			<div class="contain-logo video-logo">
				<i class="fa fa-youtube-play "></i>
			</div>
			
			<div class="video-pattern">
				<div class="video-text"></div>
			</div>
			
		

			<!-- Video -->
				<div id="P2" class="player video-container" data-property="{videoURL:'401unVQIYpU',containment:'#video',autoPlay:true, mute:true, startAt:0, opacity:1}">
				</div>

			<!-- End Video -->
			
	</section><!-- End Video Section -->



	<section id="video2" class="contain">



					<div class="col-xs-12">

					<iframe width="98%" height="400" style="z-index: 2000; position: relative" src="//www.youtube.com/embed/401unVQIYpU?rel=0" frameborder="0" allowfullscreen></iframe>
					</div>


			
			
	</section><!-- End Video Section -->