<section id="why-wisten" class="contain parallax">
		
			<div class="inner">
			
				<!-- why-wisten Top Icon -->
				<div class="contain-logo br">
					<i class="fa fa-briefcase "></i>
				</div>
				
				<!-- Iphone images -->
				<div class="w-iphone animated" data-animation="fadeInLeft" data-animation-delay="0">
					<img src="images/w-iphone.png" alt="wisten-iphone">
				</div>
				
				<!-- accordion menu -->
				<div class="accordion" id="accordion2">
				
					<div class="accordion-head">Why do you choose <span> wisten ?</span></div>
				
					  <!-- accordion menu 1 -->
					  <div class="panel">
						<div class="accordion-heading">
						  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#coll-one">
						  
						  <i class="fa fa-check"></i>
							Contrary to popular belief, Lorem Ipsum is not simply random text.
						  </a>
						</div>
						<div id="coll-one" class="accordion-body collapse in">
						  <div class="accordion-inner">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry.Type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more 
						  </div>
						</div>
					  </div>
					  
					   <!-- accordion menu 2 -->
					  <div class="panel">
						<div class="accordion-heading">
						  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#coll-two">
						  
							<i class="fa fa-check"></i>
							At vero eos et accusamus et iusto odio dignissimos.Sed ut perspiciatis.
						  </a>
						</div>
						<div id="coll-two" class="accordion-body collapse">
						  <div class="accordion-inner">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more 
						  </div>
						</div>
					  </div>
					  
					   <!-- accordion menu 3 -->
					   <div class="panel">
						<div class="accordion-heading">
						  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#coll-three">
						  
							<i class="fa fa-check"></i>
							It is a long established fact that a reader be distracted.
						  </a>
						</div>
						<div id="coll-three" class="accordion-body collapse">
							<div class="accordion-inner">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							</div>
						</div>
					  </div>
					  
					   <!-- accordion menu 4 -->
					   <div class="panel last">
						<div class="accordion-heading">
						  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#coll-four">
						  
							<i class="fa fa-check"></i>
							Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium
						  </a>
						</div>
						<div id="coll-four" class="accordion-body collapse">
						  <div class="accordion-inner">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more 
						  </div>
						</div>
					  </div>

				  
				</div>

				
				<div class="clear"></div>
			</div>	
	
	</section>