.nav-menu {
	padding-top:20px;
	margin-top:30px;
}

/* Navigation */

#navigation {
	border-bottom:0px solid #e2e2e2;
	height:auto;
	position: relative;
	background-color: #ffffff;
	z-index: 900;
	background-image: url('img/banda.png');  background-repeat: no-repeat; background-position: -100px 0px;
}


.navigation {
	position: relative;
	
}

.navmenux {
	padding-bottom:0px;
}

.sticky-wrapper {

	background-color: #ffffff;
}

#slider {
	z-index:1;
	position:relative;
}

.logpng {width: 170px;}

#pagetop {
	background-color: #3c3c3c;
	z-index: 999;
}


#about .about-content{
		width:33%;
		height:auto;
		min-height:276px;
		background:#fff;
		float:left;
		cursor:pointer;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}

.page-desc{
		margin:15px auto;
		font-size:14px;
		font-weight:300;
		text-transform: none;
		width:100%;
		max-width:860px;
		text-align:justify;
		opacity:0.7;
	}

	.page-desc2 {
		margin:15px auto;
		font-size:14px;
		font-weight:300;
		text-transform: none;
		width:100%;
		max-width:860px;
		text-align:justify;
		opacity:1;
	}

#features{
		background-color: #e5e5e4;
		height:auto;
		margin-top:20px;
		margin-bottom:0px;
	}

	.checkcolbianco {
		color: white;
	}

	.checkcolred {
		color: red;
	}

	.checkcolgreen {
		color: green;
	}

	.service-text .item {
		height: auto;
}

.slide-s {
	width: 100%;
	margin: 0 auto 0px;
}


.tabs {
	width: 100%;
	float: left;
	}


.imgtab {
	width: auto;
	height: 70%;
}
.titolotab {

}

.titolotab th {
	background-color: #999999;
	color:; #ffffff;
}

.img-responsive {
	border-radius: 20px;
}

.table-striped td {
	font-size: 13px;
}

.table-striped th {
	font-size: 13px;
}

.stondami {
	border-radius: 20px;
	border-width: 2px;
	border-style:solid;
	border-color: #999999;
}


.titolothumb {
}

.lineflag {
	margin-top:0px;
	padding-top:0px;
}

#video2 {
	display: none;
}





/* ------------ 1024px ------------------- */

@media (max-width: 1024px) {

	#video {
		display: none
	}

	#video2 {
		display: block;
	}

	.envelopetop {
		text-align: center;
		padding-left: auto;
		padding-right: auto;
		position: relative;

	}

	.logpng {
		margin-left:30px;
	}

	.nav-menu {
		display: none;
		}


	.mobile-drop {
		display: block;
		height: 100%;
		width: 100%;
		margin: 30px;
		padding:20px;
		padding-right: 50px;
	}

	.navigation {
		position: absolute;
		height: auto;
	}

	.navigation .logo a img {
		height: 50%;
		position: relative;
	}

}




/* +++++++++++++++++++++ 768px +++++++++++++++++++++++++ */

@media (max-width: 768px) {

	.page-desc {
		padding-left:20px;
		padding-right:20px;
	}

	#video {
		display: none
	}

	#video2 {
		display: block;
	}

	.logomission {
		margin-bottom: 30px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	.marginemission {
		height: 15px;
	}
}